*
!*.json 
!*.yaml 
!*.py
!*.ini
!*.html
!*.js
!*.jpg
!*.jpeg
!*.png
!*.mp3
!*.ogg
!*.txt
!*.html
!www
!www/icons
!www/images
!www/images/remote_lg
!www/images/remote_kodi
!www/lib
!www/suonerie/Android_M
!www/suonerie/Android_P
!custom_components
!custom_components/alarm_control_panel
!custom_components/climate
!custom_components/fan
!custom_components/media_player
!packages
!panels
!automation
!downloads
!broadlink_climate_codes
!broadlink_media_codes
!.gitignore 
secrets.yaml 
known_devices.yaml
